name: Create Helm charts release
on:
  push:
    branches:
      - develop
    paths:
      - 'charts/**'
  release:
    types: [published, created]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Publish Helm charts
        uses: stefanprodan/helm-gh-pages@v1.4.1
        with:
          linting: off
          token: ${{ secrets.CR_TOKEN }}
          charts_dir: charts
